<html class="log">
  <div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <%= image_tag "log_in.png" %>
        </br>
        <h1>Log in</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"fadeIn second" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" , class:"fadeIn third"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: "roundedOne" %>
            <%= f.label :remember_me %>
          </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" , class: "fadeIn fourth"%>
          </div>
          <% end %>

          <div id="formFooter">

            <%= render "users/shared/links" %>
          </div>

        </div>
      </div>
    </html>
