<!DOCTYPE html>
<html>
  <head>
    <title>Kilo-what</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon/favicon-16x16.png') %>
  </head>

  <body>
    <div id="page">
      <%= yield %>
    </div>

  </body>
</html>
